.content {
  width: 100%;
  padding: 0 0 60px 0;
}

.content-container {
  width: 1140px;
  margin: 0 auto;
}

/*----- 3-Column Sub-Section -----*/

.content-row1 {
  padding: 70px 0 0 0;
  display: inline-flex;
}

.content-row1-col1 {
  width: 360px;
  height: 446px;
  background-color: #f2f2f2;
}

.content-row1-col1, .content-row1-col2 {
  margin: 0 30px 0 0;
}

.content-row1b {
  padding: 0 25px;
}

.content-row1b h3 {
  margin: 15px 0 0 0 ;
}

.text-green {
  color: #188928;
}

.text-blue {
  color:#1786c1;
}

.text-red {
  color: #842506;
}

.container-text {
  font-size: .85rem;
  font-weight: 400;
  line-height: 21px;
}

.content-row1c {
  text-align: center;
}

.container-button {
  width: 145px;
  height: 46px;
  border-radius: 5px;
  margin: 15px 0 0 0;
  font-size: 1.1rem;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.button-green {
  background-color: #188928;
  
}

.button-blue {
  background-color: #1786c1;
}

.button-red {
  background-color: #842506;
}

.button-green:hover {
  background-color: #439d43;
}

.button-blue:hover {
  background-color: #32b0d5;
}

.button-red:hover {
  background-color: #c9302d;
}

/*----- End 3-Column Sub-Section -----*/
/*----- 2-Column Sub-Section -----*/

.content-row2 {
  display: inline-flex;
  padding: 70px 0 0 0;
}

.content-row2-col {
  width: 555px;
  height: 588px;
  background-color: #f2f2f2;
} 
.content-row2-col1 {
  margin: 0 30px 0 0;
}

.content-row2b {
  padding: 15px 25px;  
}

.content-row2b h3 {
  text-align: center;
  color: #666;
  padding:0 0 22px 0;
  margin: 0;
}

.container-text2 {
  font-size: .87rem;
  font-weight: 400;
  line-height: 23px;
}

.content-row2c {
  float: right;
  padding: 5px 92px 0 0;
  margin: -12px 0 0 0;
}

.white-button {
  width: 152px;
  height: 46px;
  border-radius: 10px;
  font-size: 1.1rem;
  color: #666;
}

.white-button:hover {
  background-color: #e6e6e6;
}